body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFFFFF;
}
ul {
list-style-type: none;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}
a {
text-decoration: none;
}
button {
cursor: pointer;
}
.logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.logo-word {
color: #2e2f42;
}
.menu-item {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}
.menu-item:hover,
.menu-item:focus {
color: #404bbf;
}
.contacts-page {
font-style: normal;
}
.link:hover,
.link:focus {
color: #404bbf;
}
.link {
color: inherit;
}
.contact-item {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.contact-item:hover,
.contact-item:focus{
color: #404bbf;
}

.title-hero {
background: #2e2f42;
}
.title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
margin-bottom: 48px;
}
.button-service {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
background-color: #4d5ae5;
color: #ffffff;

}
.button-service:hover,
.button-service:focus {
background-color: #404bbf; 
}

.title-benefits  {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.text-benefits {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.our-team-page {
background-color: #f4f4fd;
}
.title-team {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
}
.section-team-list {
background-color: #FFFFFF;
}
.title-avatar {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.text-avatar {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}
.title-portfolio {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
}
.title-images {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.text-images {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.footer-box {
background: #2e2f42;
}
.logo-word-footer {
color: #f4f4fd;
}
.text-footer {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}

h1,h2,h3,p {
    margin-top: 0;
    margin-bottom: 0;
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* ---Header--- */
.header-box {
    width: 1440px;
    height: 72px;
}
.container-menu {
    display: flex;
}
.logo {
    /* padding: 24px 76px 156px; */
    margin-right: 76px;
}
.page-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.menu {
    display: flex;
    gap: 40px;
    justify-content: flex-start;
    align-items: stretch;
    padding: 24px 0 24px;
   
}
.contacts-box {
    display: flex;
    gap: 40px;
    justify-content: space-around;
    padding-top: 24px;
    padding-left: 332px;
}
.contacts-box .contact-item {
    /* width: calc((100%-40px)/2); */
    flex-shrink: 0;
}

/* ---1 section */
.title-hero {
    display: flex;
    padding: 188px 0 188px;
}
.title {
    justify-content: center;
    max-width: 496px;
    /* margin: 188px; 472px; 292px; */
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
}
.button-service {
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    padding: 16px 32px;
    margin: auto;
    flex-shrink: 0;
    justify-content: center;
    flex-wrap: wrap;
    border: none;
}

/* ---2 section--- */
.benefits-page {
    padding: 120px 0 120px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.benefits-list {
    display: flex;
    gap: 24px;
}
.benefits-list :nth-child(:end) {
    margin-right: 0;
}
.benefits-list-item {
    padding: 120px 24px;
    flex-basis: calc((100% - 3 * 24px) / 4);
}
.title-benefits {
    margin-bottom: 8px;
}
.text-benefits {
    
}

/* ----3 section---- */
.our-team-page {
    padding: 120px 0 120px;
}
.title-team {
    /* margin-top: 120px; */
    margin-bottom: 72px;
}
.our-team-list {
    display: flex;
    gap: 24px;
}
.team-list-item {
    margin-bottom: 120px;
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0 0 4px 4px;
}
.avatar-information {
   padding: 32px 0 32px; 
}
.title-avatar {
    text-align: center;
    margin-bottom: 8px;
}
.text-avatar {
    text-align: center;
}

/* ---4 section--- */
.our-portfolio-page {
    /* display: flex; */
    padding: 120px 0 120px 0;
}
.title-portfolio {
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-shrink: 0;
    row-gap: 48px;
    column-gap: 24px;
    flex-wrap: wrap;
}
.portfolio-item {
    flex-basis: calc((100 - 2 * 24px) / 3);
}
.app-information {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.title-images {
    margin-bottom: 8px;
}
.text-images {

}

/* ---Footer--- */
.footer-box {
    padding: 100px 0 100px;
}
.logo-footer {
    display: inline-block;
    margin-bottom: 16px;  
}
.logo-word-footer {
    
}
.text-footer {
   max-width: 264px;
}
