body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFFFFF;
}
ul {
list-style-type: none;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}
a {
text-decoration: none;
}
button {
cursor: pointer;
}
.logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.logo-word {
color: #2e2f42;
}
.menu-item {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}
.menu-item:hover,
.menu-item:focus {
color: #404bbf;
}
.contacts-page {
font-style: normal;
}
.link:hover,
.link:focus {
color: #404bbf;
}
.link {
color: inherit;
}
.contact-item {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.contact-item:hover,
.contact-item:focus{
color: #404bbf;
}

.title-hero {
background: #2e2f42;
}
.title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
margin-bottom: 48px;
}
.button-service {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
background-color: #4d5ae5;
color: #ffffff;

}
.button-service:hover,
.button-service:focus {
background-color: #404bbf; 
}

.title-benefits  {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.text-benefits {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.our-team-page {
background-color: #f4f4fd;
}
.title-team {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
}
.section-team-list {
background-color: #FFFFFF;
}
.title-avatar {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.text-avatar {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}
.title-portfolio {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
}
.title-images {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.text-images {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.footer-box {
background: #2e2f42;
}
.logo-word-footer {
color: #f4f4fd;
}
.text-footer {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}

h1,h2,h3,p {
    margin-top: 0;
    margin-bottom: 0;
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.header-box {
    width: 1440px;
    height: 72px;
}
.container-menu {
    display: flex;
}
.logo {
    /* padding: 24px 76px 156px; */
    margin-right: 76px;
}
.page-nav {
    /* display: flex; */
    justify-content: flex-start;
    align-items: center;
}
.menu {
    display: flex;
    gap: 40px;
    justify-content: flex-start;
    align-items: stretch;
    padding-top: 24px;
    padding-bottom: 24px;
}
.contacts-box {
    display: flex;
    gap: 40px;
    justify-content: space-around;
    padding-top: 24px;
    padding-left: 332px;
}
.contacts-box .contact-item {
    width: calc((100%-40px)/2);
    flex-shrink: 0;
}
.title-hero {
    display: flex;

}
.title {
    justify-content: center;
    width: 496px;
    /* margin: 188px 472px 292px; */
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
}
.hero-button {
    /* display: block; */
    display: flex;
    margin: auto; 
}
.button-service {
    padding: 16px 32px;
    flex-shrink: 0;
    justify-content: center;
    flex-wrap: wrap;
    border: none;
}

.benefits-list {
    display: flex;

}
.benefits-list-item {
    padding: 120px 24px;
}
.text-benefits {
    width: 264px;
}
.title-team {
    padding-top: 120px;
    padding-bottom: 72px;
}
.our-team-list {
    display: flex;
    gap: 24px;
}
.section-team-list {
    margin-bottom: 120px;
}
.title-avatar {
    padding-top: 32px;
    padding-bottom: 8px;
}
.text-avatar {
    padding-bottom: 32px;
}
.our-portfolio-page {
    display: flex;
}
.title-portfolio {
    padding-top: 120px;
    padding-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-shrink: 0;
    gap: 48px 24px;
    /* column-gap: 48px; */
    /* width: calc((100% - 2 * 24px) / 3); */
    flex-wrap: wrap;
}
.portfolio-item {
    /* border: solid 1px; */
}
.title-images {
    padding-top: 32px;
    padding-bottom: 8px;
    padding-left: 16px;
}
.text-images {
    padding-bottom: 32px;
    padding-left: 16px;
}
.footer-box {
    margin-top: 120px;
    padding-top: 100px;
}
.container {
}
.logo-footer {
    padding-top: 100px;
    /* padding-bottom: 16px; */
    padding-left: 156px;    
}
.logo-word-footer {
    
}
.text-footer {
    width: 264px;
    padding-top: 16px;
    /* padding-bottom: 100px; */
    padding-left: 156px;
}
